<h1><span data-i18n="skills.my_skills">About</span></h1>

<div>
    I am a computer science student at Grand Valley State University, approaching my Senior year. My background is, ironically, fine arts! I am an alumni of Kendall College of Art and Design. I realized later in life through web development that my true calling was computers! In the end, my passion and creativity translated into software development pretty well. My big goal in life is to make ideas real. My usual days are filled with a ton of school, studying, and writing code. I am a true indoor kid and if I am not busy doing the latter, you will likely find me playing video games.
</div>